<header>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <nav class="nav-text">
        <a href="/posts" >Posts</a>
        <a href="/users">Users</a>
        <a href="/users/create">New user</a>
        <a href="/posts/create">New post</a>
    </nav>
</header>